body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

h1, h2, h3 {
  margin: 0 0 20px 0;
  font-weight: 600;
}

p {
  margin-bottom: 20px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
   background: linear-gradient(to right, hsl(0, 0%, 100%), #dee8ff);
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;

}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #50cbff;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #50aaff;
}
.hero {
  background: linear-gradient(to right, #5085ff, #66e3ff);
  color: white;
  padding: 120px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 2.8rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.hero .btn-primary {
  font-size: 1.2rem;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}


.how-it-works {
  padding: 80px 20px;
  background-color: #fff;
  text-align: center;
}
.steps {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}
.step {
  max-width: 300px;
}
.step img {
  width: 80px;
  margin-bottom: 20px;
}
.features {
  padding: 80px 20px;
  background-color: #f9f9f9;
}
.features h2{
      text-align: center;

}
.feature-cards {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
}
.card {
  background-color: white;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}
.btn-primary {
  padding: 14px 32px;
  background-color: #ffffff;
  color: rgb(15, 15, 15);
  border-radius: 6px;
  text-decoration: none;
  font-size: 1.1rem;
  
}
.get-started{
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center; 
  text-align: center;
  padding: 40px 20px;
  background-color: #f9f9f9; 
}

.get-started h2 {
  font-size: 2rem;
  margin-bottom: 30px;
 
}

.get-started .btn-primary {
  padding: 14px 32px;
  background-color: #50aaff;
  color: rgb(255, 255, 255);  
  border-radius: 6px;
  text-decoration: none;
  font-size: 1.1rem;
}

